@import url('https://fonts.googleapis.com/css2? família=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
}
.presentation{
    margin: 8% 5%;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
}
/* Fontes do texto principal */
    .presentation__textheader{
        flex-direction: column;
        gap: 40px;
        margin-top: 10vh;
        width: 615px;
        height: 482px;
    }
    .presentation__textheader h1{
        font-family: 'Krona one', sans-serif;
        font-size: 36px;
    }
    .presentation__textheader p{
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
    }
    .presentation__button{
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: space-between;
    }
        .presentation__button a {
        width: 240px;
        margin-top: 1vh;
        border-radius: 4vh;
        border: #502E63 solid 0.5vh;
        background-color: #e2cdee;
        padding: 1vh 0;
        text-align: center;
        font-weight: 600;
        text-decoration: none;
        color: #502E63;
        }

body{
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(211, 176, 232);
    color: #502E63;
}
main{
    margin-left: 10vh;
}
#gbimg{
    margin-left: 1vh;
    border-radius: 2vh;
    border: #502E63 solid 0.5vh;
}

strong{color: rgb(200, 100, 200);
}
.boge-t{color: #502E63;
}
