    #nav__menu-hamburguer__input , #nav__menu-hamburguer__close__input{
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .nav__menu-hamburguer__container{
        background-color: var(--secondary-color-02);
        position: relative;
        top: 3rem;
        right: 0rem;
        height: 9rem;
        width: 9rem;
        display: none;
        border-radius: 0rem 0rem 0rem 2rem;
    }

    label{
        color: transparent;
    }

    .nav__menu__vertical__text{
        align-items: center;
        flex-direction: column;
    }

    .nav__menu__vertical-item{
        font-family: var(--primary-font-family);
        text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.35);
        margin: 0.35rem 0 0.35rem 0;
    }

    .nav__menu__vertical-item > a , .nav__menu__vertical-item > a:visited , .nav__menu__vertical-item > a:link{
        text-decoration: none;
        color: inherit;
    }

    .nav__menu__vertical-item:nth-child(2n){
        color: var(--secondary-color-01);
    }

    .nav__menu__vertical-item:nth-child(2n-1){
        color: var(--primary-color-dark);
    }

    interactive-menu-close{
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url(/home/Assets/arrow-to-change-state.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0s;
        position: relative;
        top: -1.75rem;
        left: 0.75rem;
    }
    interactive-menu-close:hover{
        background-image: url(/home/Assets/arrow-to-up.svg);
    }
    
    #ab_me{
        text-decoration: none;
    }


@media (min-width: 900px) and (max-width: 6200px) {
    .nav__menu-hamburguer__container{
        background-color: var(--secondary-color-02);
        position: relative;
        top: 4.0rem;
        right: 0rem;
        height: 10rem;
        width: 12rem;
        display: none;
        border-radius: 0rem 0rem 0rem 2.5rem;
    }
    .nav__menu__vertical-item{
        font-family: var(--primary-font-family);
        text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.35);
        margin: 0.5rem 0 0.5rem 0;
    }
    interactive-menu-close{
        display: block;
        width: 2.35rem;
        height: 2.35rem;
        background-image: url(/home/Assets/arrow-to-change-state.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0s;
        position: relative;
        top: -3rem;
        left: 0.7rem;
    }
}
