    .nav-container{
        position: fixed;
        background-color: var(--primary-color-light);
        height: 3rem;
        align-items: center;
        justify-content: start;
        z-index: 2;
    }
    /*------------------------*/
    left-icons{
        width: 50%;
    }
        /*------------------------*/
        left-icons>left-icon-one{
            margin-left: 1rem;
            } 
        left-icons>left-icon-one>img{ 
            width: 2rem; 
            }
        /*------------------------*/
        left-icons>left-icon-two{
            margin-left: 0;
            } 
        left-icons>left-icon-two>img{ 
            width: 1.5rem; 
            }

        left-icon-one{
            width: 2rem;
            height: 2rem;
            background-image: url(/home/Assets/pie-chart-svgrepo-com.svg);
            background-repeat: no-repeat;
            background-size: contain;
            transition: 1s;
        }
        left-icon-one:hover{
            background-image: url(/home/Assets/navmenu-go-up.svg);
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
        }
            left-icon-one > a {
                display: block;
                width: 100%;
                height: 100%;
            }
        left-icon-two{
            width: 1.5rem;
            height: 1.5rem;
            background-image: url(/home/Assets/cv-icon.svg);
            background-repeat: no-repeat;
            background-size: contain;
            transition: 0.3s;
        }
        left-icon-two:hover{
            background-image: url(/home/Assets/cv-icon2.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
            left-icon-two > a {
                display: block;
                width: 100%;
                height: 100%;
            }
        /*------------------------*/
    right-icon{
        justify-content: end;
        width: 50%;
       
    }
        /*------------------------*/
    interactive-menu{
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        background-image: url(/home/Assets/arrow-to-change-state.svg);
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0s;
    }
    interactive-menu:hover{
        background-image: url(/home/Assets/arrow-to-down.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width: 100%;
        height: 10rem;
        background-color: var(--primary-color-dark);
    }


@media (min-width: 900px) and (max-width: 6200px) {
    .nav-container{height: 1.2rem;}
    left-icon-one{
        width: 1rem;
        height: 1rem;
    }
    left-icon-two{
        width: 0.8rem;
        height: 0.8rem;
    }
    interactive-menu{
        margin-right: 5%;
        width: 1.2rem;
        height: 1.2rem;
    }
}
