    .contact_container{
        flex-flow: row wrap;
        background-color: var(--secondary-color-04);
        height: 5rem;
    }

    footer > section > figure {
        width: 3rem;
        height: 3rem;
        background-image: url(/home/Assets/email-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    footer > section > figure:hover{
        background-image: url(/home/Assets/email-icon-open.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    footer > section > figure > a{
        display: block;
        width: 100%;
        height: 100%;
    }

    .contact_justify{
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
    }

    footer > section > div > p {
        margin: 0.1rem 0;
        font-size: 0.5rem;
        text-decoration: underline;
        font-family: var(--primary-font-family);
        color: var(--primary-color-light);
    }

    #contact-email{
        font-size: 0.3rem;
    }

