html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.container__botao{
  display: inline-block;
  text-align: center;
  margin-top: 2.5rem;
  margin-left: 8rem;
}
.texto{
  margin-top: 3rem;
  font-size: 2rem;
  color: rgba(124, 82, 48, 0.897);
  padding: 1em;
  border: 2px solid rgba(230, 190, 157, 0.897);
  background-color: azure;
  text-decoration: none;
  text-transform: uppercase;
}
.texto.js {
  margin-top: 2.5rem;
  color: rgb(177, 177, 61);
  border: 2px solid rgb(238, 238, 151);
}