:root{
  --p-color-01: #EEE2DE;
}
html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.container__botao{
  width: 100vw;
  text-align: center;
  background-color: gray;
  border: 1px solid black;
}
.texto{
  font-size: 2rem;
  color: rgba(124, 82, 48, 0.897);
  border: 2px solid rgba(230, 190, 157, 0.897);
  background-color: azure;
  text-decoration: none;
  text-transform: uppercase;
}
.texto.js {
  margin: 1rem 35%;
  color: rgb(177, 177, 61);
  border: 2px solid rgb(238, 238, 151);
}

#main__container{
  background-color: var(--p-color-01);
  width: 100vw;
  height: 80vw;
  margin: 0 auto;
}