@keyframes showmenu-sentido-horario {
    from{
        left: 100vw;
        opacity: 0;
    }
    to{
        left: 89.7vw;
        opacity: 1;
    }
}
@keyframes showmenu-sentido-antihorario {
    from{
        left: 89.7vw;
        opacity: 1;
    }
    to{
        left: 100vw;
        opacity: 0;
    }
}
/* ------------------------------------------- */
.nav__container{
    align-items: center;
    padding: 0.5em 0;
}
/* ------------------------------------------- */
.nav__img__container{
    display: flex;
    flex: 1 1 33.3%;}
    .duolingo__logo{
        width: 100%;
        } #duolingo__logo__box{
        margin: 0 1.5vw;
        border: var(--sec-color-02) solid 0.1em;
        border-radius: 4px;
        background-color: var(--sec-color-03);
        }
/* ------------------------------------------- */
.nav__text__container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    width: 57.6%;
    margin: 0 1vw;
}.nav__text:nth-child(2n-1) {
        color: var(--sec-color-01);
        font-size: 1.35em;
    }
    .nav__text{
        color: var(--p-color-02);
        font-family: var(--primary-f-family);
        font-weight: var(--relevant-font-weight);
        margin-top: 0.5em;
        font-size: 0.7em;
    }
/* ------------------------------------------- */

/* Interação com o menu */
.nav__menu-hamburguer__input{
    display: none;
/* ------------------------------------------- */ 
}.nav__menu-hamburguer__input:checked ~ .nav__icons__container > .nav__icon__list{
    display: flex;
    animation-name: showmenu-sentido-horario;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    }
    .nav__menu-hamburguer__input:checked ~ .nav__menu-hamburguer__moldura > .nav__menu-hamburguer__imagem{
        background-image: url(/Z-Home/Assets/menu-open-icon.svg);
        }
/* ------------------------------------------- */
.nav__menu-hamburguer__moldura{
    background-color: var(--sec-color-03);
    padding: 1.5%;
    border: 0.1em solid var(--sec-color-02);
    border-radius: 1em;
    flex: 1 2;
}
.nav__menu-hamburguer__imagem{
    background-image: url(/Z-Home/Assets/menu-icon.svg);
    height: 2em;
    width: 2em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
/* ------------------------------------------- */
.nav__icons__container{
    display: flex;
    flex: 1 1 6.2vw;
    margin-right: 1%;
}
.nav__icon__list{
    animation-name: showmenu-sentido-antihorario;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    display: flex;
    position: absolute;
    top: 0%;
    left: 100vw;
    background-color: var(--sec-color-02);
    padding: 0.36em 0.36em;
    border-radius: 1.5em;
    flex-flow: column;
    overflow: hidden;
}
.nav__icon__item{
    margin: 0 0 0.2em 0;
    background-color: var(--sec-color-02);
    border-radius: 0.1em;
}
.nav__icon__images{
    width: 100%;
    flex: 1 1;
}
.nav__text__container__icon-list-container{
    display: none;
}
/* ------------------------------------------- */
@media screen and (max-width: 350px){
    .nav__text:nth-child(2n-1) {
        font-size: 1em;
    }
    .nav__text{
        margin-top: 0.2em;
        font-size: 0.5em;
    }
    .nav__menu-hamburguer__moldura{
        padding: 1.2%;
        border-radius: 1em;
    }
    .nav__menu-hamburguer__imagem{
        height: 1.8em;
        width: 1.8em;
    }
}
@media screen and (min-width: 400px) and (max-width: 480px){
    .nav__text:nth-child(2n-1) {
        font-size: 1.5em;
    }
    .nav__text{
        margin-top: 0.2em;
        font-size: 0.75em;
    }
}

@media screen and (min-width: 720px) and (max-width: 900px){
    .nav__text:nth-child(2n-1) {
        font-size: 3.0em;
    }
    .nav__text{
        margin-top: 0.5em;
        font-size: 1.4em;
        padding-left: 0.6em;
    }
    .nav__menu-hamburguer__moldura{
        display: none;
    }
    .nav__menu-hamburguer__imagem{
        display: none;
    }
    .nav__icon__list{
        display: none;
    }
    .nav__menu-hamburguer__input:checked ~ .nav__icons__container > .nav__icon__list{
        display: none;
    }
/*-----------------------------------------------*/
    .nav__text__container__icon-list-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 20%;
        margin-top: 0.8em;
        padding: 5px;
        border-radius: 1.2em;
        background-color: var(--sec-color-02);
    }
    .nav__text__container__icon-list-item{
        margin: 0 auto;
        width: 10%;
    }
    .nav__text__container__icon-list-text{
        color: var(--p-color-02);
        font-family: var(--secondary-f-family);
        font-weight: var(--text-font-weight);
        font-size: 1.1em;
        margin: 0 1em 0 0;
    }.nav__icon__link{text-decoration: none;}
}