.header__container{
    position: relative; /* Elemento mestre dos containers é o relativo */
    height: 100%;
    background-color: var(--sec-color-02);
}

.flexbox__container{
    background-color: var(--p-color-01);
}

.nav__container{
    align-items: center;
    padding: 0.5em 0;
}
/* ------------------------------------------- */
.nav__img__container{
    width: 33.3%;
}

.duolingo__logo{
    width: 6.25em;
    height: 6.25em;
} #duolingo__logo__box{
    margin: 0 0.5em;
    border: var(--sec-color-03) solid 0.05em;
    border-radius: 4px;
    background-color: var(--sec-color-03);
    }

.nav__text__container{
    width: 56.6%;
    margin: 0 5px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.nav__text:nth-child(2n-1) {
    color: var(--sec-color-01);
    font-size: 1.35em;
}
.nav__text{
    font-family: var(--primary-f-family);
    font-weight: var(--relevant-font-weight);
    margin-top: 0.5em;
    font-size: 0.7em;
}

.nav__icons__container{
    width: 10%;
    margin-right: 2px;
}

.nav__icon__list{
    display: none;
    position: absolute;
    background-color: var(--sec-color-02);
    padding: 0.7em 0.3em;
    border-radius: 1.5em;
    flex-flow: column;
}

.nav__icon__item{
    margin: 0 0 0.2em 0;
    background-color: var(--sec-color-02);
    border-radius: 0.1em;
}
.nav__icon__images{
    width: 1.5em;
}


@media screen and (min-width: 720px){
    .duolingo__logo{
        width: 12.5em;
        height: 12.5em;
    }#duolingo__logo__box{
        margin: 0 0 0 2em;
        }
}

@media screen and (min-width: px){

}