@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

:root{
    --borda-construcao: 5px solid green;
    --fonte-painel: 'Alkatra', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
    --fonte-texto-relevante: 'Krona one', sans-serif;
    --peso-padrao-fonte: 400;
    --cor-fundo: #4E6E81;
    --cor-auxiliar: #FF0303;
    --cor-auxiliar-secundaria: #F9DBBB;
    --cor-auxiliar-terciaria: #2E3840;
}
/*-------------------------------------------*/
.body{box-sizing: border-box;}
/*-------------------------------------------*/

/*.container-nav{
}*/
    .container-nav{
        padding: 5% 0% 1% 15%;
        background-color: var(--cor-fundo);
        color: var(--cor-auxiliar-secundaria);
        font-family: var(--fonte-painel);
        font-weight: var(--peso-padrao-fonte);
        font-size: 2rem;
    }
        .nav-panel{
            display: flex;
        }
            .nav-item{
                color:var(--cor-auxiliar-secundaria);
                margin-right: 1.5rem;
                text-decoration: none;
            }
/*--------------------------------------------*/
.principal{
    background-color: var(--cor-auxiliar-terciaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1%;
}
    .principal__section{
        width: 50%;
       
    }
        .principal__section_text{
            margin-left: 15%; /**/
            color: var(--cor-auxiliar-secundaria);
            font-weight: var(--peso-padrao-fonte);
            font-family: var(--fonte-texto);
            font-size: 1.5rem;
        }
            .principal__section_sc{ 
                display: flex;
                justify-content: center;
                padding-top: 2.2rem;
            }
                .principal__section__scitem{
                    color: var(--cor-auxiliar-secundaria);
                    font-family: var(--fonte-painel);
                    font-weight: var(--peso-padrao-fonte);
                    font-size: 2rem;
                    text-decoration: none;
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
                    #principal__figure{
                        width: 50%;
                    }
        .container-footer{
            padding: 4.8% 0 4.7% 0;
            background-color: var(--cor-auxiliar);
        }
    .footer-text {
        display: block;
        background-color: var(--cor-auxiliar);
        color: var(--cor-auxiliar-secundaria);
        font-family: var(--fonte-painel);
        font-weight: var(--peso-padrao-fonte);
        margin-top: -5%;
        padding: 0% 0% 0% 15%;
        font-size: 2rem;
    }
/*--------------------------------------------*/      

        @media (max-width: 1200px){
            .main{
                width: 100vw;
                height: 100vw;
            }
            .container-nav{
                padding: 7%;
            }
            .nav-panel{
                justify-content: center;
            }
            .principal{
                flex-direction: column-reverse;
            }
            .principal__section{
                width: 90%;
            }
            .principal__section_text{
                margin-left: 10%;
                margin-right: 10%;
                font-size: 1.0rem;
            }
            .principal__section__scitem{
                font-size: 1.3rem;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }
/*Adaptação do site para telas até 1200px*/
        }
        @media (max-width: 500px){
            #principal__figure{
                width: 80%;
                margin-bottom: 1.5rem;
            }
        }
/*Adaptação do site para celulares*/