@import url(/Z-Home/Styles/header.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

:root{
  --p-color-01: #EEE2DE;
  --p-color-02: #2B2A4C;
  --sec-color-01: #B31312;
  --sec-color-02: #EA906C;
  --primary-f-size: 16px;
  --primary-f-family: "Raleway";
  --secondary-f-family: "Barlow Condensed";
  --text-font-weight: 400;
  --relevant-font-weight: 700;;
  --primary-container-width: 90%;
  --production-border: #e6cc00 solid 3px;

}

.body{
    box-sizing: border-box;
    font-size: var(--primary-f-size);
    font-weight: var(--text-font-weight);
    font-family: var(--secondary-f-family);
    color: var(--p-color-02);
}   

.just__transform__to__flexbox-container{
    display: flex;
}

.flexbox__container{
    display: flex;
    width: var(--primary-container-width);
    margin: 0 auto;
}
