@import url(/Z-Home/Styles/header.css);
@import url(/Z-Home/Styles/projects.css);
@import url(/Z-Home/Styles/expertises.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

:root{
  --p-color-01: #F5EFE7;
  --p-color-02: #213555;
  --sec-color-01: #4F709C;
  --sec-color-02: #D8C4B6;
  --sec-color-03: #e5e5e5;
  --primary-f-size: 16px;
  --primary-f-family: "Raleway";
  --secondary-f-family: "Barlow Condensed";
  --text-font-weight: 400;
  --relevant-font-weight: 700;;
  --primary-container-width: 90%;
  --tablet-container-width: 80%;
  --desktop-container-width: 70%;
  --production-border: #e6cc00 solid 3px;
  --regra-grid-tecnologias: min(100%/2, max(167px,100%/4));
}

.body{
    box-sizing: border-box;
    font-size: var(--primary-f-size);
    font-weight: var(--text-font-weight);
    font-family: var(--secondary-f-family);
    color: var(--p-color-02);
}   

.just__transform__to__flexbox-container{
    box-sizing: border-box;
    display: flex;
}

.flexbox__container{
    box-sizing: border-box;
    display: flex;
    width: var(--primary-container-width);
    margin: 0 auto;
    background-color: var(--p-color-01);
}

.grid__container{
    box-sizing: border-box;
    display: grid;
    width: var(--primary-container-width);
    background-color: var(--p-color-01);
    margin: 0 auto;
}

.block__container{
    box-sizing: border-box;
    display: block;
    width: var(--primary-container-width);
    margin: 0 auto;
}

.header__container,.main__container{
    position: relative; /* Elemento mestre dos containers é o relativo */
    height: 100%;
    width: 100vw;
    background-color: var(--sec-color-02);
}

@media screen and (min-width: 720px){
    .grid__container{
        width: var(--tablet-container-width);
    }
    .flexbox__container{
        width: var(--tablet-container-width);
    }
    .block__container{
        width: var(--tablet-container-width);
    }
}

@media screen and (min-width: 1024px){
    .grid__container{
        width: var(--desktop-container-width);
    }
    .flexbox__container{
        width: var(--desktop-container-width);
    }
    .block__container{
        width: var(--desktop-container-width);
    }
}


