@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter' sans-serif;
}
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;}
/*----------------------------------*/
.propriedades-container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;}
/*----------------------------------*/
.principal{
    background-image: url("/experimental - projects/Alura-Plus/Assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}.secundario{
     margin: 0 6em;
    align-items: center;}
/*----------------------------------*/
.propriedades__texto__titulo{
    color: var(--branco-principal);
    font-size: 1.75rem;
    font-weight: 700;
    }.propriedades__texto__descritivo{

    color: var(--cinza-secundario);
    font-weight: 400;
    font-size: 1rem;}
/*----------------------------------*/
.caixa-conteudo__principal__unico{
    margin: 0 6em;}
.caixa-conteudo__secundario__multiplo{
    padding: 2em;}
.propriedades__imagem__principal{
    margin: 1em 0em 2em 0em;
}.propriedades__imagem__secundaria{
    width: 80%;}
.propriedades__botao {
    background-color: var(--botao-azul);
    border-radius: 0.375rem;
    padding: 1em;
    color:var(--branco-principal);
    display:block;
    margin-bottom: 1em;
}.propriedades__botao.botao__anomalo__01 {
    background-color: transparent;
    border: 2px solid var(--branco-principal);}
    .propriedades__botao.botao__anomalo__02{
            display: inline-block;
            margin-top: 1em;}.propriedades__botao.botao__anomalo__03 {
                background-color: var(--botao-azul)};
.item__lista__h2__texto{
    color: var(--branco-principal);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}.item__lista__texto{
    color: var(--branco-principal);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;}
.lista__dispositivos{
    display: flex;
    justify-content: center;
    list-style-type: none;}
.propriedades__container__footer{
    text-align: center;
    margin: 5em 0;}
.lista__footer{
    display: flex;
    justify-content: center;
    list-style: none;}
.lista__footer__link{
    color: var(--branco-principal);
    margin: 2em 0.3em;
    transition: 0.5s;
}.lista__footer__link:hover{color: var(--botao-azul);
    border: 1px solid var(--botao-azul);}

.footer__texto__final{
    color: var(--cinza-secundario);
    font-size: 1em;
    font-weight: 400;
    margin: 0 33% 2em 33%;
}

@media screen and (max-width: 768px){
    .propriedades-container{
        display: block;
        background-image: none;
        height: 100vw;
    }
    .propriedades__imagem__principal{
       width: 50vw;
    }
    .caixa-conteudo__principal__unico{
        margin: 2em 2em;
    }
    .secundario{
       margin: 0;
       text-align: center;
    }
    .propriedades__imagem__secundaria{
       width: 50vw;
    }
    .lista__dispositivos{
        display: block;
    }
    .lista__footer{
        display: block;
    }
    .lista__footer__link{
        font-size: 1.2rem;
        margin: 0.5em 0.3em;
        border: 1px solid var(--cinza-secundario);
    }
    .footer__texto__final{
        font-size: 0.75em;
        margin: 0 5% 1em 5%;
    }
    .item__lista__dispositivos{
        text-align: center;
    }
}