    #aboutMe_Title-text{
        font-family: var(--primary-font-family);
        font-size: 2rem;
        height: 2rem;
        align-items: center;
        justify-content: center;
        color: var(--secondary-color-03);
        background-color: var(--secondary-color-04);
        border-top: 0.05rem solid var(--primary-color-light);
    } #aboutMe_Title-text > h1 {
        margin-top: 0.5rem;
        border-bottom: 0.5rem solid var(--primary-color-light);
        z-index: 1;
    }

    .about-me__container{
        background-color: var(--secondary-color-04);
    }

    .aboutMe-items{
        display: flex;
        width: 6.5rem;
        height: 8rem;
        margin: 0 auto;
    }

    #ab_me-1 , #ab_me-3{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    #linkedin-icon{
        background-image: url(/home/Assets/linkedin_icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 0.25rem;
    }

    #github-icon{
        background-image: url(/home/Assets/github_icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 2rem;
        height: 2rem;
    }

    #github-icon:hover , #linkedin-icon:hover{
        background-size: 85%;
        background-repeat: no-repeat;
        background-position: center;
    }

    #ab_me-2{
       align-self: center;
       margin: 0 auto;
       background-image: url(/home/Assets/ProfileLogo.jpg);
       background: center / contain no-repeat url("/home/Assets/step\ by\ step.png");
       height: 5rem;
       width: 6rem;
    }

    #ab_me-3 > p {
        font-size: 0.5rem;
        color: var(--secondary-color-01);
        margin-bottom: 0.75rem;
    }
    
