@media (max-width:425px){
    .nav-container{
        height: 3em;
        align-items: center;
        background-color: var(--primary-color-light);
    }
    /*------------------------*/
    left-icons>left-icon-one{
        margin-left: 1em;
        } 
    left-icons>left-icon-one>img{ 
        width: 2em; 
        }
    /*------------------------*/
    left-icons>left-icon-two{
        margin-left: 0;
        } 
    left-icons>left-icon-two>img{ 
        width: 1.5em; 
        }
    /*------------------------*/
    right-icon>interactive-menu{
        margin-right: 1em;
    }
    right-icon>interactive-menu>img{
        width: 2.4em; 
    }
}