.block__container__text{
    border-top: 0.25em double var(--p-color-02);
    border-bottom: 0.25em double var(--p-color-02);
    background-color: var(--p-color-01);
    padding: 0.2em 0em;
    text-align: center;
}

.text-container__text:nth-child(2n-1) {
    color: var(--sec-color-01);
    text-transform: uppercase;
    font-size: 1.15em;
}
.text-container__text{
    color: var(--p-color-02);
    font-family: var(--primary-f-family);
    font-weight: var(--relevant-font-weight);
    font-size: 0.7em;
}

.swiper {
    margin: 0.2em auto 0 auto;
    width: 95%;
  }

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev{
    display: none;
    }.swiper-button-prev::after{
        margin-right: 0.5em;
        display: block;
        color: var(--p-color-01);
    }

.swiper-button-next{
    display: none;
    }.swiper-button-next::after{
        margin-left: 0.5em;
        display: block;
        color: var(--sec-color-02);
    }

.swiper-pagination{
    height: 8%;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: var(--p-color-02);
}

.swiper-scrollbar{
    display: none;
}

@media screen and (min-width: 440px) and (max-width: 719px){
     .swiper {
        margin: 0.2em auto 0 auto;
        width: 95%;
    }
    .text-container__text:nth-child(2n-1) {
        color: var(--sec-color-01);
        text-transform: uppercase;
        font-size: 1.35em;
    }
    .text-container__text{
        color: var(--p-color-02);
        font-family: var(--primary-f-family);
        font-weight: var(--relevant-font-weight);
        font-size: 1.1em;
    }
}
@media screen and (min-width: 720px) and (max-width: 1279px){
    .swiper {
       margin: 0.2em auto 0 auto;
       width: 95%;
   }
   .text-container__text:nth-child(2n-1) {
       color: var(--sec-color-01);
       text-transform: uppercase;
       font-size: 2.0em;
   }
   .text-container__text{
       color: var(--p-color-02);
       font-family: var(--primary-f-family);
       font-weight: var(--relevant-font-weight);
       font-size: 1.65em;
   }
}
@media screen and (min-width: 1280px) and (max-width: 1440px){
    .swiper {
       margin: 0.2em auto 0 auto;
       width: 92%;
   }
   .text-container__text:nth-child(2n-1) {
       color: var(--sec-color-01);
       text-transform: uppercase;
       font-size: 2.5em;
   }
   .text-container__text{
       color: var(--p-color-02);
       font-family: var(--primary-f-family);
       font-weight: var(--relevant-font-weight);
       font-size: 1.75em;
   }
}
@media screen and (min-width: 1441px) and (max-width: 1920px){
    .swiper {
        margin: 0.2em auto 0 auto;
        width: 87.5%;
    }
    .text-container__text:nth-child(2n-1) {
        color: var(--sec-color-01);
        text-transform: uppercase;
        font-size: 3.0em;
    }
    .text-container__text{
        color: var(--p-color-02);
        font-family: var(--primary-f-family);
        font-weight: var(--relevant-font-weight);
        font-size: 1.9em;
    }
}
@media screen and (min-width: 1921px){
    .swiper {
        margin: 0.2em auto 0 auto;
        width: 82%;
    }
    .text-container__text:nth-child(2n-1) {
        color: var(--sec-color-01);
        text-transform: uppercase;
        font-size: 4em;
    }
    .text-container__text{
        color: var(--p-color-02);
        font-family: var(--primary-f-family);
        font-weight: var(--relevant-font-weight);
        font-size: 2.5em;
    }
}