@import url(/home/Styles/nav-menu.css);
/*
@import url(/home/Styles/header.css);
@import url(/home/Styles/projects.css);
@import url(/home/Styles/expertises.css);
*/
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --primary-color-light:#A9907E;
  --primary-color-dark:#675D50;
  --secondary-color-01:#F3DEBA;
  --secondary-color-02:#ABC4AA;
  --secondary-color-03:#ffcb71;
  --desktop-container-width: 100vw;
  --tablet-container-width: 100vw;
  --mobile-container-width: 100vw;
  --regra-disposicao-grid-items: min(100vw/2, max(167px,100vw/6));
  --primary-font-size: 20px;
  --primary-font-family: "Tinos";
  --secondary-font-family: "Arial";
}
.just__transform__to__flexbox-container{box-sizing: border-box; display: flex; }

.flexbox__container{
    box-sizing: border-box;
    display: flex;
    width: var(--mobile-container-width);
    margin: 0 auto;
    background-color: var(--primary-color-dark);
}
.grid__container{
    box-sizing: border-box;
    display: grid;
    width: var();
    background-color: var();
    margin: 0 auto;
}
.block__container{
    box-sizing: border-box;
    display: block;
    width: var(--primary-container-width);
    margin: 0 auto;
}
.relative_container{
    position: relative; /*Container pai é o absolute*/
    background-color: var();
}
/*
.expertises__container{
    /*border-top: 1px solid rgb(33,53,85, 0.3);
     border-bottom: 1px solid rgb(255,255,255, 0.3);
     display: grid;
     align-items: center;
     grid-template-columns: repeat(auto-fit , minmax(var(--regra-grid-tecnologias), 1fr));
     text-align: center;
 }
*/

/* Menu Hamburguer 
@keyframes showmenu-sentido-horario {
    from{
        opacity: 0;
        position: relative;
        left: 30%;
    }
    to{ 
        position: relative;
        top: 0%;
        opacity: 1;
        left: 40%;
    }
}
@keyframes showmenu-sentido-antihorario {
    from{
        position: relative;
        top: 0%;
        opacity: 1;
        left: 40%;
    }
    to{ 
        opacity: 0;
        position: relative;
        left: 30%;
    }
}

.nav__menu-hamburguer__input{
    display: none;

}.nav__menu-hamburguer__input:checked ~ .nav__icons__container > .nav__icon__list{
    display: flex;
    animation-name: showmenu-sentido-horario;
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
    position: static;
    }
    .nav__menu-hamburguer__input:checked ~ .nav__menu-hamburguer__moldura > .nav__menu-hamburguer__imagem{
        background-image: url(/home/Assets/menu-open-icon.svg);
        }

.nav__menu-hamburguer__moldura{
    grid-area: 2/3/5/4;
    background-color: var(--sec-color-03);
    padding: 0.15em;
    border: 0.1em solid var(--sec-color-02);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__menu-hamburguer__imagem{
    background-image: url(/home/Assets/menu-icon.svg);
    height: 2em;
    width: 2em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
------------------------------------------- */
