.banner{
    text-align: center;
    background: var(--cor-azul-degrade);
    color: var(--branco);
    padding: 2.5em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
<<<<<<< HEAD
}.banner__texto{
    font-weight: 500;
    margin: 1em 0;}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    text-align: center;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-weight: 400;
    color: var(--branco);
    font-size: 14px;
    background: url(../Assets/Pesquisa.svg);
    background-repeat: no-repeat;
    background-position: 0.4em;
=======
    margin: 0 auto;
}

.banner__texto{
    font-weight: 500;
    margin: 1em auto;
}

.banner__pesquisa{
    color: var(--preto);
>>>>>>> 0d0166f9d1ac47a4d6b1e5de5febff25160fe03f
}