.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}.cabecalho__container{
    display: flex;
    align-items: center;
}

.container__botao{
    display: none;
}.container__botao:checked ~ .lista-menu{
    display: block;}

.cabecalho__menu__hamburguer{
    width: 48px;
    height: 48px;
    background-image: url(/AluraBooks/Assets/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 2em;
    margin-right: 1em;
}

.header__image--logo{
    margin-left: 0.2em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;}
.lista-menu__item__titulo{
    color: var(--cor-t-hamb);
    padding: 1em;
    background-color: var(--branco);
    font-weight: 700;
}.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
    color: var(--cor-azul-degrade);
}
.lista-menu__link{
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__imagem{
    padding: 1em 0.2em;
}

.leave__icon{
    margin-left: 0.6em;
}

.container__imagem--alurabooks{
    display: none;
}

.opcoes{
    display: none;
}
.container__texto{
    display: none;
}

.container__botao:checked~.cabecalho__menu__hamburguer__moldura>.cabecalho__menu__hamburguer{
    background: url(/AluraBooks/Assets/menu-2.svg);
}
.container__botao:checked~.cabecalho__menu__hamburguer__moldura{
    background: var(--cor-azul-degrade);
}
.opcoes__botao:checked~.opcoes__item__moldura{
    background: var(--cor-azul-degrade);
    padding: 1em 1em;
}
.opcoes__botao:checked~.opcoes__item__moldura>.opcoes__item{
    -webkit-text-fill-color: var(--branco);
}
.opcoes__botao:checked~.opcoes__item{
    padding: 1em 1em;
}
.lista-menu__item:hover{
    background: var(--cor-azul-degrade);
}
.lista-menu__item:hover>.lista-menu__link{
    -webkit-text-fill-color: var(--branco);
}

@media screen and (min-width: 1024px) {
    .cabecalho{
        justify-content: space-evenly;
    }
    .container__imagem--alurabooks
    {
    display: block;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .imagem__transparente{
        display: none;
    }

    .cabecalho__menu__hamburguer{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }
    .lista-menu{
        top: 100%;
        margin-top: -1.1em;
    }
    .lista-menu__item{
        width: 18vw;
    }
        
}

@media screen and (min-width: 1728px){
    .container__texto{
        display: block;
    }
    .leave__icon{
        margin-left: 1em;
    }
    .container__link{
        display: flex;
        align-items: center;
    }
    .cabecalho{
        padding: 0 2em;
    }
    .opcoes{
       margin-right: auto; 
    }
    .cabecalho__container{
        margin-left: 1em;
    }
}