@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
    font-family: 'Roboto' , sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}

.body{
    background-color: #f6f8fc;
}
/*            Ordered List Proprieties   */
.content{
    padding: 1rem;
    height: 100vh;
    }.content h1 {
        margin: 0;}

.pokemonListClass{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}
/*////////////////////////////////////////*/

.pokemonListItem{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    background-color: #49D0B0;
    color: white;
    border-radius: 1rem;
}

.pokemonListItem__detailContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemonListItem__Image{
    max-width: 60%;
    flex: 1 , 1 , 70px;
}

.pokemonListItem__number{
    color: #000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemonListItem__name{
    color: #fff;
    margin: .25rem 0;
    }.pokemonListItem__name::first-letter{text-transform: uppercase;}

.detailContainer__types {
    list-style: none;
    padding: 0;
    margin: 0;
}

.type-proprieties {
    background-color: black;
    text-align: center;
    color: #fff;
    padding: .25rem .5rem;
    margin: .125rem;
    font-size: .625rem;
    border-radius: 1rem;
}
.vazio {background-color:  transparent;color: transparent;} 

.grass {
    background-color:  #9bcc50;
    font-size: .8rem;
    border: 1px solid rgba(0, 0, 0, .25);}  
    .grass::first-letter{ text-transform: uppercase ;}
.background__grass{
    background: linear-gradient(45deg ,  #557722 , #d2e8b0); }

.poison {
    background-color:  #b97fc9;
    font-size: .8rem;
    border: 1px solid rgba(0, 0, 0, .25);} 
    .poison::first-letter{ text-transform: uppercase ;}
.background__poison{
    background: linear-gradient(45deg ,  #8d44a2 , #d8b7e1); }

.fire {
    background-color:  #fd7d24;
    font-size: .8rem;
    border: 1px solid rgba(0, 0, 0, .25);} 
    .fire::first-letter{ text-transform: uppercase ;}
.background__fire{
    background: linear-gradient(45deg ,  #B65716 , #FCAF7A); }

.water {
    background-color:  #4592c4;
    font-size: .8rem;
    border: 1px solid rgba(0, 0, 0, .25);} 
    .water::first-letter{ text-transform: uppercase ;}
.background__water{
    background: linear-gradient(45deg ,  #054B77 , #CDE8F9); } 

.bug {
    background-color:  #729f3f;
    font-size: .8rem;
    border: 1px solid rgba(0, 0, 0, .25);} 
    .bug::first-letter{ text-transform: uppercase ;}
.background__bug{
    background: linear-gradient(45deg ,  #404F2F , #AED97E); }
    
.flying {
    background-color:  #bdb9b8;
    font-size: .8rem;
    border: 1px solid rgba(0, 0, 0, .25);} 
    .flying::first-letter{ text-transform: uppercase ;}
.background__flying{
    background: linear-gradient(45deg ,  #BA9E97 , #EBCFC8); }










@media screen and (max-width: 345px){
    .content{
        max-width: 345px;
        margin: 1rem auto;
    }
    .pokemonListClass{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 576px){
    .content{
        max-width: 576px;
        margin: 1rem auto;
    }
    .pokemonListClass{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    .pokemonListClass{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}